@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.woff2') format('woff2'),
      url('/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.woff2') format('woff2'),
      url('/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kollektif';
  src: url('/fonts/Kollektif-Bold.woff2') format('woff2'),
      url('/fonts/Kollektif-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;

@tailwind components;

html {
  scroll-behavior: smooth;
}

.scroll-bg {
  animation-name: scrollBackground;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes scrollBackground {
  0% {
    transform:rotate(16deg) translateY(0)
  }
  to {
    transform:rotate(16deg) translateY(-800px)
  }
}

.hero {
  height: calc(100% - 148px);
}

@media (min-width: 418px) {
  .hero {
    height: calc(100% - 112px);
  }
}

@media (min-width: 768px) {
  .hero {
    height: calc(100% - 144px);
  }
}
@media (min-width: 1024px) {
  .hero {
    height: calc(100% - 84px);
  }
}

@tailwind utilities;
